<p>Hey {{name}},</p>

<p>Trouble signing in? Don't worry, resetting your password is easy.</p>

<p>We'll have you up and running in no time. Just follow the link below and follow the instructions:</p>

<p><a href={{url}} target='_blank'>{{url}}</a></p>

<p>If you did not make this request then please ignore this email.</p>